
*{margin: 0; padding:0;}
body{font-family: "Berlin","Berlin Sans FB Demi";font-size: 18px;}

#container{width: 420px;
           height: 210px;
           margin: 0 auto;}

#login{background-image: url("../..//src/assets/img/background_login_2.png");
       background-repeat: no-repeat;
        width: 410px;
        height: 200px;
        margin-top: 20px;}

#login #titulo{width: 410px;
               text-align: center;
               padding-top: 7px;
               font-size: 18px;
               color: white;}

#login #conteudo_login{width:280px;
                       margin: 0 auto;}

#login #cadeado{width: 10px;
                float: left;
                margin-top: 30px;
                }

#login .input_text_login{padding: 3px;
                 border-radius: 6px;
                 width: 170px;}/*Foi criada essa classe, para aumentar o espaço onde será digitado.*/

#login #form_login{width: 170px;
                   float:right;
                   text-align: left;
                   margin-top: 15px;}
#login label{display: block;margin-top: 5px;} 

#login #botao_logar{margin-top: 5px;
                    background-image: url("../..//src/assets/img/botao_logar.png");
                    background-repeat: no-repeat;
                    width: 81px;
                    height: 35px;
                    border: none;
                    background-color: #e8e8e8;
                    float: right;}
#fix{clear: both;}

.erro{margin-top: 10px;
     color: red;
     text-align: center;}
 